In [52]:
import pandas as pd
train_data = pd.read_csv('train.csv')
train_data.head(4)

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating,popularity
0,3,2,4,2,2,2,1
1,3,2,2,5,2,1,1
2,1,4,2,5,1,3,1
3,4,4,2,2,1,2,1

In [53]:
target = train_data['popularity']
target.head(4)

0    1
1    1
2    1
3    1
Name: popularity, dtype: int64

In [54]:
train_data.drop(['popularity'], axis=1, inplace=True)
train_data.head(4)

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating
0,3,2,4,2,2,2
1,3,2,2,5,2,1
2,1,4,2,5,1,3
3,4,4,2,2,1,2

In [55]:
test_data = pd.read_csv('test.csv', header=None)
test_data.columns = ['buying_price', 'maintainence_cost', 'number_of_doors','number_of_seats', 'luggage_boot_size', 'safety_rating']

test_data.head(4)

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating
0,4,1,2,2,2,2
1,2,1,3,4,3,2
2,4,4,2,5,1,2
3,4,3,3,2,2,2

In [56]:
X_train=train_data
X_test = test_data
y_train=target

In [57]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=20)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [58]:
clf.score(X_train,y_train)

1.0

In [59]:
Y_pred = clf.predict(X_test)
test_data['popularity'] = Y_pred
test_data['popularity'].to_csv('rforest.csv', index=False)